<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="page-header">
        <h1><%= t '.title' %></h1>
        <h4><%= t '.header' %></h4>
      </div>
        <p><% @tracks.each do |track| %></p>
        <h2><%= link_to track.title, track %></h2>
        <p><%= track.description %></p>
        <% end %>
    </div>
  </div>
</div>

