<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
    <div class="page-header">
      <h1><%= t '.title_for', title: @track.title %></h1>
      <h4><%= t '.header' %></h4>
    </div>
      <h3></h3>
      <h3><% @exercises.each do |exercise| %></h3>
      <h2><%= link_to exercise.title, new_exercise_session_path(exercise) %></h2>
      <% end %>
    </div>
  </div>
</div>

