<h2>My dashboard</h2>

<div class="container">
  <div class="col-xs-2">
    <div class="img-fit">
      <%= image_tag @user.picture %><br>
      <div class="edit-profile text-center"><%= link_to "edit profile", edit_user_registration_path, class:"btn btn-default" %></div>
    </div>
  </div>

  <div class="col-xs-7">
    <h2>
      <%= @user.first_name %> <%= @user.last_name %>
    </h2>
  </div>

</div>