/*
 *= require rails_bootstrap_forms
 */

@import "active_admin/editor/wysiwyg";
@import "bootstrap";
@import "bootstrap-sprockets";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,400italic|Oswald:400,300|Open+Sans:400,300,600);@import "navbar";
@import "navbar";
@import "sessions";
@import "signin";
@import "home";
@import "footer";

#wraper{
  margin-top: 30px;
  min-height:100%;
  position:relative;
}

body{
  font-family: 'Lato' sans-serif;
  font-weight: 300;
  margin: 0 auto;
  font-size: 16px;
  padding: 0;
  height: 100%;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: #0F0F5B;
}

h2{
  font-size: 32px;
  color: #383635;
}

h3 {
  font-size: 26px;
}

h4{
  line-height: 26px;
  font-size: 20px;
}

p{
  font-size: 20px;
  line-height: 22px;
  color: #383635;
}

.notice {
  margin-top: 35px;
}

.color-red{
  color: #FF0000;
}








