$color: white;

#footer {
  background-color: #0F0F5B;
  color: $color;
  font-weight: 300;
  padding-top: 2em;
  padding-bottom: 1em;
  margin-top: 100px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  position: absolute;
}

#social-baseline{
  font-size: 20px;
  color: $color;
}

#social-icons li {
  font-size: 30px;
}

#about-contact li{
  font-size: 20px;
}

#copypright p {
  color: $color;
  font-size: 16px;
}