<div class="wrapper">
  <h3><%= @exercise.title %></h3>

  <% @exercise.questions.each do |question| %>
  <h4><%= question.title %></h4>
  <h4><%= question.description %></h4>
  <% end %>


  <p><%= @exercise.description %></p>

  <button type="button" class="btn btn-primary">Go to the next exercise</button>

  <button type="button" class="btn btn-primary">Edit my exercise</button>
</div>




